[Unit]
Description=Trigger udev add events for all devices

[Service]
Type=oneshot
ExecStart=udevadm control --reload
ExecStart=udevadm trigger --action=add --verbose

[Install]
WantedBy=multi-user.target
