[Unit]
Description=Mount USB drive on %i

[Service]
User=pi
Group=pi
Type=oneshot
RemainAfterExit=true
# This is a workaround for a race condition udev triggers this service before udisksctl is
# actually ready to mount the device; here, we work around it by polling until the device appears
# in the D-Bus API. Refer to https://github.com/storaged-project/udisks/issues/711 for details.
ExecStartPre=/usr/libexec/wait-udisks-device "%i"
ExecStart=udisksctl mount --no-user-interaction --block-device /dev/%i
ExecStop=udisksctl unmount --no-user-interaction --block-device /dev/%i
