services:
  server:
    image: ghcr.io/openuc2/device-admin:0.1.1@sha256:fdcd4736457a64d337ef87d545fe685ec52c05060241259028580dcf1d763cc6
    environment:
      - HTTP_BASEPATH=/admin/panel/
      - TEMPLATES_PATH=/web/templates
    volumes:
      - type: bind
        source: ./templates
        target: /web/templates
        read_only: true
      - type: bind
        source: /run/dbus/system_bus_socket
        target: /var/run/dbus/system_bus_socket
      - type: bind
        source: /run/tailscale/tailscaled.sock
        target: /var/run/tailscale/tailscaled.sock
networks:
  default:
    name: none
    external: true
