services:
  server:
    image: ghcr.io/openuc2/device-admin:0.1.2@sha256:689bbd2177c68dc6cf646f3c405a392b16f1faeedff6f1b8cb4c49e55c042b60
    environment:
      - HTTP_BASEPATH=/admin/panel/
      - TEMPLATES_PATH=/web/templates
    volumes:
      - type: bind
        source: ./templates
        target: /web/templates
        read_only: true
      - type: bind
        source: /run/dbus/system_bus_socket
        target: /var/run/dbus/system_bus_socket
      - type: bind
        source: /run/tailscale/tailscaled.sock
        target: /var/run/tailscale/tailscaled.sock
networks:
  default:
    name: none
    external: true
