[Unit]
Description=Set the tailscale client's auth key from /run/tailscale-auth-key
ConditionPathExists=/var/lib/tailscale-auth-key
Requires=tailscaled.service
After=tailscaled.service

[Service]
Type=oneshot
ExecStart=sh -c 'tailscale up --authkey "$(cat /var/lib/tailscale-auth-key)"'
ExecStartPost=rm /var/lib/tailscale-auth-key
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
