[Unit]
Description=Regenerate SSH host keys if they're missing
Before=ssh.service
ConditionFileIsExecutable=/usr/bin/ssh-keygen
ConditionPathExistsGlob=!/etc/ssh/ssh_host_*_key*

[Service]
Type=oneshot
ExecStart=ssh-keygen -A
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
