[Unit]
Description=Assemble and process (with string interpolation) drop-in NetworkManager connection fragment template files into a drop-in NetworkManager connection fragment file for %i
ConditionFileIsExecutable=/usr/libexec/render-templated-config
ConditionPathIsDirectory=/etc/NetworkManager/system-connections-templates.d/%i
# If there are services to generate a machine name and hostname (which can optionally be used in
# templates), run those services first:
Wants=generate-machine-name.service
After=generate-machine-name.service
Wants=generate-hostname-templated.service
After=generate-hostname-templated.service

[Service]
Type=oneshot
ExecStartPre=mkdir -p /run/overlays/generated/etc/NetworkManager/system-connections.d/%i
ExecStart=sh -c "\
  cat /etc/NetworkManager/system-connections-templates.d/%i/* | \
    /usr/libexec/render-templated-config \
      >/run/overlays/generated/etc/NetworkManager/system-connections.d/%i/40-generated-templated.nmconnection \
"
RemainAfterExit=yes
