[Unit]
Description=Assemble drop-in hosts fragment files into a hosts file
ConditionFileIsExecutable=/usr/libexec/assemble-hosts
ConditionPathIsDirectory=/etc/hosts.d
Wants=assemble-hosts-templated.service
After=assemble-hosts-templated.service
Before=NetworkManager.service
Wants=network-pre.target
Before=network-pre.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/assemble-hosts

[Install]
WantedBy=multi-user.target
