services:
  imswitch-noqt:
    image: ghcr.io/openuc2/imswitch-noqt:sha-86a6521@sha256:b4addd7042c5af77dfb4c1ed60e053eaf15a7cf9ec5f20266e587392baa19e6d
    privileged: true
    ports:
      - "3000:3000"
      - "8002:8002"
      - "8001:8001"
      - "8888:8888"
      - "2222:22"
    volumes:
      - /home/pi/ImSwitchConfig:/config
      - /home/pi/Datasets:/datasets
      - /media:/media
      - /run/dbus/system_bus_socket:/run/dbus/system_bus_socket
      - /etc/machine-id:/etc/machine-id:ro
    environment:
      - HEADLESS=1
      - HTTP_PORT=8001
      - CONFIG_FILE=example_virtual_microscope.json
      - UPDATE_GIT=0
      - UPDATE_CONFIG=0
      - DATA_PATH=/datasets
      - CONFIG_PATH=/config
      - SCAN_EXT_DATA_FOLDER=1
      - EXT_DRIVE_MOUNT=/media
      - SSL=0
      - scan-ext-drive-mount=true
    restart: always
