services:
  imswitch-noqt:
    image: ghcr.io/openuc2/imswitch-noqt:sha-df1822e@sha256:b0fc64e0c75ca4098754c89bf95d7374b42e8a78fb59bc21bf158d99d482b9b9
    privileged: true
    ports:
      - "8001:8001" # frontend, HTTP API, WebSockets API
      - "8888:8888" # Jupyter
    volumes:
      - /etc/machine-id:/etc/machine-id:ro
      - /home/pi/ImSwitchConfig:/config
      - /home/pi/Datasets:/datasets
      - /media:/media
    environment:
      - HEADLESS=1
      - HTTP_PORT=8001
      - CONFIG_PATH=/config
      - CONFIG_FILE=example_virtual_microscope.json
      - UPDATE_GIT=0
      - UPDATE_CONFIG=0
      - DATA_PATH=/datasets
      - SCAN_EXT_DATA_PATH=1
      - EXT_DATA_PATH=/media
      - SSL=0
    restart: always
  volume-setup:
    # This service ensures that root isn't the owner of /home/pi/Datasets, since Docker auto-creates
    # that path if it didn't exist before for the bind mount, and Docker creates such directories
    # with root ownership.
    image: docker.io/library/alpine:3.22.2@sha256:4b7ce07002c69e8f3d704a9c5d6fd3053be500b7f1c69fc0d80990c2ad8dd412
    volumes:
      - /home/pi/Datasets:/home/pi/Datasets
    command: 'sh -c "chown -R 1000:1000 /home/pi/Datasets; sleep 60"'
