[Unit]
Description=Generate a hostname at /run/overlays/generated/etc/hostname using the template at /etc/hostname-template
DefaultDependencies=no
ConditionFileIsExecutable=/usr/libexec/generate-hostname-templated
Requires=local-fs.target
After=local-fs.target
Wants=generate-machine-name.service
After=generate-machine-name.service
Before=sysinit.target
Before=systemd-hostnamed.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/generate-hostname-templated
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
