{{template "shared/base.layout.tmpl" .}}

{{define "title" -}}
  {{- $machineName := .Data.MachineName -}}
  Machine {{$machineName}}
{{- end}}
{{define "description"}}Machine portal{{end}}

{{define "content"}}
  {{$hostname := .Data.Hostname}}
  {{$port := .Data.Port}}
  {{$machineName := .Data.MachineName}}

  <main>
    <section class="section content">
      <div class="container is-max-desktop">
        <h1>Machine {{$machineName}}</h1>
        <p>
          Welcome! This is the home page for your machine with machine name
          <code>{{$machineName}}</code>.
        </p>
        <p>
          Below you can find a list of links to browser applications provided by your machine,
          documentation for operating your machine,
          and other information to help you use your machine.
        </p>

        {{if not (or (hasSuffix ".local" $hostname) (hasSuffix ".ts.net" $hostname))}}
          <article class="message is-warning">
            <div class="message-body">
              Note: you are using the hostname <code>{{$hostname}}</code>, which might not work
              outside of direct connections to the machine through its Wi-Fi hotspot or through
              an Ethernet cable. If/when you want to connect to the machine through a Wi-Fi
              router or Ethernet router (for example because you have connected your machine to
              the internet through an external Wi-Fi network, which disables the machine's
              Wi-Fi hotspot under certain conditions), you may instead need to use
              <a href="//openuc2-{{$machineName}}.local">openuc2-{{$machineName}}.local</a>
              to access this machine (though
              <a href="//openuc2.local">openuc2.local</a>
              should also work if no other machines are connected to the router).
            </div>
          </article>
        {{else if not (hasPrefix "openuc2-" $hostname)}}
          <article class="message is-info">
            <div class="message-body">
              Note: you are using the hostname <code>{{$hostname}}</code>, which will be ambiguous
              if/when you are potentially connected (either directly or indirectly) to multiple
                machine. In such situations, you will instead need to use
              <a href="//openuc2-{{$machineName}}.local">openuc2-{{$machineName}}.local</a>
              to access this machine.
            </div>
          </article>
        {{end}}
      </div>
    </section>

    <section class="section content">
      <div class="container is-max-desktop">
        <h2>Browser applications</h2>
        <ul>
          <li>
            <p>
              <strong><a href="//{{$hostname}}:8001/imswitch/index.html" target="_blank">
                ImSwitch dashboard
                {{- /* make template ignore the line break */ -}}
              </a></strong>:
              Provides the standard user interface to operate the microscope
            </p>
            <article class="message is-info">
              <div class="message-body">
                If you don't know where to go, you're probably looking for the above link!
              </div>
            </article>
          </li>
        </ul>
      </div>
    </section>

    <section class="section content is-large">
      <div class="container is-max-desktop">
        <h2>Need help?</h2>

        <h3 class="is-size-5">Wrong machine?</h3>
        <p>
          This machine has machine name <code>{{$machineName}}</code>. If you're looking for a
          different machine:
        </p>
        <ul>
          <li>
            You should use your web browser to open that machine's machine-specific URL
            instead.
            {{if hasSuffix ".uc2" $hostname}}
              For example, the machine-specific URL for this machine is
              <a href="//{{$machineName}}.uc2">
                {{$machineName}}.uc2
                {{- /* make template ignore the line break */ -}}
              </a>.
              Alternatively,
              <a href="//openuc2-{{$machineName}}.local">
                openuc2-{{$machineName}}.local
                {{- /* make template ignore the line break */ -}}
              </a>
              might also work if your web browser supports mDNS.
            {{else if hasSuffix ".local" $hostname}}
              For example, the machine-specific URL for this machine is
              <a href="//openuc2-{{$machineName}}.local">
                openuc2-{{$machineName}}.local
                {{- /* make template ignore the line break */ -}}
              </a>.
              Alternatively,
              <a href="//{{$machineName}}.uc2">
                {{$machineName}}.uc2
                {{- /* make template ignore the line break */ -}}
              </a>
              might also work if you're connecting directly to your machine (i.e. to its
              Ethernet port or to a Wi-Fi network created by your machine) and your web browser
              isn't using Private DNS to look up domain names.
            {{end}}
          </li>
          <li>
            {{if hasSuffix ".uc2" $hostname}}
              You're probably trying to connect directly to your machine (i.e. to its Ethernet
              port or to a Wi-Fi network created by that machine). You
            {{else}}
              If you're trying to connect directly to a different machine (i.e. to its Ethernet
              port or to a Wi-Fi network created by that machine), you
            {{end}}
            might need to change your
            network configuration in order to connect to that machine's Wi-Fi network or
            Ethernet port, and you might also need to disconnect from
            <code>{{$machineName}}</code>'s Wi-Fi network or Ethernet port.
          </li>
        </ul>

        <h3 class="is-size-5">Documentation</h3>
        <p>Accessible offline:</p>
        <ul>
          <li>
            <strong><a href="/openUC2/" target="_blank">openUC2 documentation</a></strong>:
            Provides an offline copy of the official openUC2 project documentation
          </li>
          <li>
            <strong><a href="/openUC2/docs/ImSwitch/Quickstart/" target="_blank">
              Quickstart Guide
              {{- /* make template ignore the line break */ -}}
            </a></strong>:
            A guide for getting started with the software on this machine
          </li>
          <li>
            <strong><a href="/openUC2/docs/ImSwitch/Advanced/" target="_blank">
              ImSwitch Documentation
              {{- /* make template ignore the line break */ -}}
            </a></strong>:
            Comprehensive guides for using Imswitch beyond the Quickstart Guide
          </li>
          <li>
            <strong><a href="/openUC2/docs/Investigator/FRAME/" target="_blank">
              FRAME Microscope Manual
              {{- /* make template ignore the line break */ -}}
            </a></strong>:
            A comprehensive operational manual for the FRAME microscope system
          </li>
        </ul>

        <p>On the internet:</p>
        <ul>
          <li>
            <strong><a href="https://openuc2.github.io/docs/ImSwitch/Quickstart/" target="_blank">
              Quickstart Guide
              {{- /* make template ignore the line break */ -}}
            </a></strong>:
            A guide for getting started with the software on this machine
          </li>
          <li>
            <strong><a href="https://openuc2.github.io/docs/ImSwitch/Advanced/" target="_blank">
              ImSwitch Documentation
              {{- /* make template ignore the line break */ -}}
            </a></strong>:
            Comprehensive guides for using Imswitch beyond the Quickstart Guide
          </li>
          <li>
            <strong><a href="https://openuc2.github.io/docs/Investigator/FRAME/" target="_blank">
              FRAME Microscope Manual
              {{- /* make template ignore the line break */ -}}
            </a></strong>:
            A comprehensive operational manual for the FRAME microscope system
          </li>
        </ul>

        <h3 class="is-size-5">Community</h3>
        <ul>
          <li>
            <strong><a href="https://openuc2.com/" target="_blank">Official openUC2 website</a></strong>:
            Information about the openUC2 optical toolbox
          </li>
          <li>
            <strong><a href="https://openuc2.discourse.group/" target="_blank">Discourse group</a></strong>:
            A forum for talking about openUC2 and getting help
          </li>
          <li>
            <strong><a href="https://github.com/openUC2" target="_blank">GitHub organization</a></strong>:
            openUC2's GitHub organization for development of the openUC2 optical toolbox
          </li>
        </ul>
      </div>
    </section>

    <section class="section content is-large">
      <div class="container is-max-desktop">
        <h2>For advanced users</h2>
        <h3 class="is-size-5">Browser applications</h3>
        <p>System administration and troubleshooting:</p>
        <ul>
          <li>
            <strong><a href="/admin/panel/" target="_blank">Machine administration</a></strong>:
            An easy-to-use system administration dashboard for this machine
          </li>
          <li>
            <strong><a href="/admin/cockpit/" target="_blank">Cockpit</a></strong>:
            An advanced system administration dashboard for the computer embedded in this
            machine
          </li>
          <li>
            <strong><a href="/admin/fs/" target="_blank">System file manager</a></strong>:
            A file browsing and management interface for the entire filesystem of the
            computer embedded in this machine
          </li>
          <li>
            <strong><a href="/admin/fs-su/" target="_blank">System file manager (superuser)</a></strong>:
            A file browsing and management interface for the entire filesystem of the
            computer embedded in this machine, with root/superuser access
          </li>
          <li>
            <strong><a href="/admin/dozzle/" target="_blank">Dozzle</a></strong>:
            A dashboard for monitoring and troubleshooting the apps deployed on this machine
          </li>
        </ul>
        <p>System recovery:</p>
        <ul>
          <li>
            <strong><a href="//{{$hostname}}:9090/admin/cockpit/" target="_blank">
              Cockpit (direct-access fallback)
              {{- /* make template ignore the line break */ -}}
            </a></strong>:
            Fallback access to the Cockpit application, accessible even if the system's
            service proxy stops working
          </li>
        </ul>

        <h3 class="is-size-5">Network APIs</h3>
        <ul>
          <li>
            <strong>ImSwitch HTTP API</a></strong>:
            Provides an interface for programmatic and remote control of this machine at
            <code>{{$hostname}}:8001</code>
          </li>
          <li>
            <strong><a href="//{{$hostname}}:8001/docs" target="_blank">
              ImSwitch HTTP API docs
              {{- /* make template ignore the line break */ -}}
            </a></strong>:
            Swagger docs for ImSwitch's HTTP API (also useful for testing API endpoints)
          </li>
          <li>
            <strong><a href="//{{$hostname}}:8001/openapi.json" target="_blank">ImSwitch API spec</a></strong>:
            OpenAPI specification for ImSwitch's HTTP API (useful for generating API clients)
          </li>
        </ul>

        <h3 class="is-size-5">System infrastructure</h3>
        <p>Networking:</p>
        <ul>
          <li>
            <strong>SSH server</strong>:
            Provides SSH access to this machine at <code>{{$hostname}}:22</code>
          </li>
          <li>
            <strong>Ingress proxy</strong>:
            A Caddy reverse-proxy to make browser applications and HTTP network APIs uniformly
            available at different paths at <code>{{$hostname}}</code> on port 80
          </li>
          <li>
            <strong><a href="/" target="_blank">Device portal</a></strong>:
            A landing page as a portal to the browser applications, network APIs, and system
            infrastructure on this machine (this is what you're seeing right now)
          </li>
        </ul>

        <p>App management:</p>
        <ul>
          <li>
            <strong>Forklift</strong>:
            A software deployment, customization, and configuration management system for more
            robust software updates even with extensive user customizations
          </li>
          <li>
            <strong>Docker Compose</strong>:
            A configuration system for deploying apps consisting of containerized programs
          </li>
          <li>
            <strong>Docker</strong>:
            A software packaging, distribution, and runtime system for deploying containerized
            programs
          </li>
        </ul>
      </div>
    </section>
  </main>
{{end}}
