[Unit]
Description=Move files from /boot/firmware/init-root into the root filesystem
ConditionPathExistsGlob=/boot/firmware/init-root/*
Wants=boot-init-root-extract-archives.service
After=boot-init-root-extract-archives.service

[Service]
Type=oneshot
ExecStart=sh -c 'cp -r /boot/firmware/init-root/* /'
ExecStartPost=sh -c 'rm -rf /boot/firmware/init-root/*'
Restart=no

[Install]
WantedBy=multi-user.target
